@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> el "intercambio equivalente" (o "principio de intercambio equivalente") es una ley fundamental de la alquimia
        que establece que para obtener algo, se debe dar algo de igual valor a cambio. </p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
